<!--8. Llegamos aquí tras logearnos correctamente.-->
<!-- 9. ver app-new-list-->
<app-navbar></app-navbar>
<header>
  <h1>
    App 3 lista de tareas (desacierto 2 (?))
  </h1>
  <!--<input type="text" placeholder="añadir tarea" (keyup)="handdleKeyup($event)">-->
</header>



<div>
  Aquí abajo comienza lo que conecta con back end 
</div>

<section>
  <!-- Muestra el componente para añadir listas-->
  <app-add-new-list></app-add-new-list>
  <!-- Muestra el componente de cargar las listas-->
  <app-show-lists [lists]="data.lists"></app-show-lists>
</section>

<pre>
  {{ data | json }}
</pre> 
